@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: din-2014, zen-old-mincho, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

pre,code {
  font-family: source-han-sans-japanese, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-border-default: #718791 !important;
  --color-border-muted: #718791 !important;
}


.markdown-body p img {
  aspect-ratio: 16 / 9;
  background-color: #718791;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @apply max-h-80;
}

.markdown-body a {
  @apply text-brand-red-dark;
}
.markdown-body a:hover {
  @apply text-brand-red;
  text-decoration-style: dashed;
}


* {
  @apply text-brand-text;
}

a {
  @apply transition-colors duration-150;
}

a:hover,
a:focus,
a:active {
  @apply text-brand-red-dark underline;
  text-decoration-style: dashed;
}



@layer components {
  .link-hover {
    @apply transition-colors duration-150;
    @apply group-hover:text-brand-red-dark group-hover:underline;
    text-decoration-style: dashed;
  }
  .link-hover:hover {
    @apply text-brand-red-dark underline;
  }
  .underline-dashed {
    text-decoration-style: dashed;
  }
}
