---
import { type CollectionEntry, getCollection } from "astro:content";

import { render } from "astro:content";
import BaseHead from "../_BaseHead.astro";
import RootLayout from "../_RootLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await render(post);
---

<RootLayout>
  <Fragment slot="head">
    <BaseHead pageTitle={post.data.title} />
  </Fragment>
  <div
    class="markdown-body container mx-auto border-2 border-dashed border-brand-sub p-4 xl:max-w-3xl 2xl:max-w-3xl text-xl markdown-body--wide"
  >
    <Content />
  </div>
</RootLayout>
