---
import { type CollectionEntry, getCollection } from "astro:content";

import { render } from "astro:content";
import BaseHead from "../_BaseHead.astro";
import RootLayout from "../_RootLayout.astro";
import { getEntry } from "astro:content";
type Props = CollectionEntry<"posts">;
const slug = Astro.params.slug;
if (typeof slug !== "string") {
  throw new Error("Invalid slug");
}
const post = await getEntry("posts", slug);
if (!post) {
  throw new Error("Post not found");
}
const { Content } = await render(post);
---

<RootLayout>
  <Fragment slot="head">
    <BaseHead pageTitle={post.data.title} />
  </Fragment>
  <div
    class="markdown-body container mx-auto border-2 border-dashed border-brand-sub p-4 xl:max-w-3xl 2xl:max-w-3xl text-xl markdown-body--wide"
  >
    <Content />
  </div>
</RootLayout>
