<script>
  import FontFaceObserver from "fontfaceobserver";
  const din2024 = new FontFaceObserver("din-2014");
  const toppanBunkyuGothicPr6n = new FontFaceObserver(
    "toppan-bunkyu-gothic-pr6n"
  );
  const disableLoadingOverlay = () => {
    const loadingOverlay = document.getElementById("loading-overlay");
    if (loadingOverlay) {
      loadingOverlay.dataset.isFirstLoaded = "true";
    }
    localStorage.loadedFontFace = JSON.stringify([
      "din-2014",
      "toppan-bunkyu-gothic-pr6n",
    ]);
  };
  document.addEventListener("DOMContentLoaded", () => {
    if (localStorage.loadedFontFace) {
      disableLoadingOverlay();
    } else {
      Promise.allSettled([din2024.load(), toppanBunkyuGothicPr6n.load()]).then(
        disableLoadingOverlay
      );
    }
  });
</script>

<div
  id="loading-overlay"
  role="progressbar"
  class="loading-overlay bg-overlay-animation pointer-events-none fixed top-0 left-0 flex h-full w-full items-center justify-center duration-300 data-[is-first-loaded=true]:opacity-0"
  transition:persist
>
  <img
    src="/images/junseinagao-outline.svg"
    alt="text.junseinagao.com"
    class="w-screen object-cover object-center"
  />
</div>
