---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import "../styles/markdown.css";
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <slot name="head" />
    <ClientRouter />
  </head>
  <body class="bg-brand-base">
    <header
      class="sticky top-0 z-50 bg-brand-base-accent border-b border-brand-sub"
    >
      <div
        class="flex justify-between items-center py-2 px-2 md:py-3 md:pl-0 md:pr-8"
      >
        <a href="/" class="shink-0">
          <!-- Mobile Logo -->
          <img
            src="/images/return-j-only-typography-title.svg"
            alt="長尾ソフトウェア開発事務所「Return J」"
            class="h-12 md:hidden"
          />
          <!-- Desktop Logo -->
          <img
            src="/images/return-j-english-with-ja-title.svg"
            alt="長尾ソフトウェア開発事務所「Return J」"
            class="hidden md:block h-24 xl:h-32"
          />
        </a>

        <!-- Navigation (Right) -->
        <nav class="self-end md:pb-1">
          <ul
            class="flex gap-x-4 md:gap-x-8 text-lg md:text-2xl list-none text-brand-text"
          >
            <li>
              <a href="/" class="link-hover">All Articles</a>
            </li>
            <li>
              <a href="/me" class="link-hover">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main
      class="container mx-auto flex flex-col items-center py-10 px-2 md:px-4"
    >
      <slot />
    </main>
    <footer
      class="flex items-center justify-center bg-brand-base-accent py-4 flex-col"
    >
      <a href="/me#business-profile-section">Contact me</a>
      <span class="text-brand-text"
        >© 2022-2025 Junsei Nagao. All rights reserved.</span
      >
    </footer>
  </body>
</html>
